<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMeans Clustering Visualization</title>
    <style>
        #cluster-image {
            max-width: 100%;
            height: auto;
        }
        #plot{
            width: 600px;
            height: 600px;
            border: 1px solid black;
        }
    </style>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>KMeans Clustering Visualization</h1>

    <label for="n_clusters">Number of Clusters:</label>
    <input type="number" id="n_clusters" name="n_clusters" value="3" min="2" max = "3"><br>

    <label for="init_method">Initialization Method:</label>
    <select id="init_method">
        <option value="random">Random</option>
        <option value="kmeans++">KMeans++</option>
        <option value="farthest">Farthest First</option>
        <option value="manual">Manual</option>
    </select><br><br>

    

    <button id="initialize">Initialize</button>
    <button id="step">Step</button>
    <button id="run">Run to Convergence</button>
    <button id="reset">Reset</button>
    <div id="plot"> </div>


    <script>
        let manualCentroids = [];

        function update_plot(plot){
            $('#plot').html(plot);
        }

        function initialize_plot(){
            $.post('/initialize', {n_clusters: $('#n_clusters').val(), init_method: $('#init_method').val()}, function(response){
                update_plot(response.plot);
            });
        }

        $(document).ready(function(){
            initialize_plot();
            $('#initialize').click(function(){
                initialize_plot();
            });
            $('#step').click(function(){
                $.post('/step', {},function(response){
                    if (response.plot){
                        update_plot(response.plot);
                    }
                });
            });
            $('#run').click(function(){
                $.post('/run', {},function(response){
                    if (response.plot){
                        update_plot(response.plot);
                    }
                });
            });
            $('#reset').click(function(){
                $.post('/reset', {},function(response){
                    if (response.success){
                        update_plot(response.plot);
                    }
                });
            });
        });
    </script>
</body>
</html>
